<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./nav.css">
    <title>Document |
        <%= title %>
    </title>
</head>

<body>
    <div class="wrapper">
        <%- include('./partials/nav.ejs') %>
            <div style="background-color:#eee; text-align: center;padding:150px 0;">
                <h1 style="text-transform:uppercase;">Home page</h1>
                <h3 style="text-transform:uppercase;">hello this is the home page of the site</h3>
            </div>
    </div>
</body>

</html>